function Main.main 0
push constant 8
push constant 2
call Math.divide 2
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 5
neg
push constant 2
call Math.divide 2
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 10
push constant 1
neg
call Math.divide 2
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 5
neg
push constant 1
neg
call Math.divide 2
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 4
push constant 3
call Math.divide 2
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 6
neg
push constant 5
neg
call Math.divide 2
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
push constant 1
call Math.log 1
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 2
call Math.log 1
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 3
call Math.log 1
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 4
call Math.log 1
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 10
call Math.log 1
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 130
call Math.log 1
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 260
call Math.log 1
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
push constant 1
push constant 0
call Math.pow 2
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 1
push constant 5
call Math.pow 2
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 2
push constant 4
call Math.pow 2
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 8
push constant 2
call Math.pow 2
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 5
push constant 3
call Math.pow 2
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 10
push constant 3
call Math.pow 2
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 17
push constant 3
call Math.pow 2
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 0
return
